<h2>Sign up</h2>
<div id="signup-page" class="big-bg-sign">

 <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

  <div class="signup-main">


  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field-new">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field-new">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field-new">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field-new">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions-new">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>

<%# <%= render "devise/shared/links" %>

