<div class="show wrapper">
  <div class="show-page">
    <div class="table">
      <%= "#{@user.name}" %>さんの投稿一覧
    </div>
  </div>
  <div class='grid'>
    <% @photos.each do |photo|  %>
      <div class='item'>
        <%= link_to photo_path(photo.id), method: :get do %>
          <%= image_tag photo.image, class: "item-img" %><br>
          <div class="item-main">
            タイトル:  <%= photo.title %><br>
            メモ:  <%= photo.memo %><br>
            作成日:  <%= l photo.created_at, format: :short %></td>
        </div>
        <% if current_user.already_favarited?(photo) %>
          <%= link_to photo_favarite_path(photo), method: :delete do %>
            <i class="fas fa-heart"></i>
            <span style="color:red;">❤︎</span>
          <% end %>
          <%= photo.favarites.count %>
        <% else %>
          <%= link_to photo_favarites_path(photo), method: :post do %>
            <i class="far fa-heart"></i>
            <span>❤︎</span>
          <% end %>
          <%= photo.favarites.count %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<% if @photos[0] == nil %>
  <div class='list'>
    <%= link_to(new_photo_path) do %>
      <div class='item-info'>
        <%= image_tag('画像投稿.png', class: "post-image-mypage") %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
</div>
<%= render partial: "photos/postin"%>

