
<div id="home" class="big-bg">
  <header class="headewrapper">
        <nav>
         <% if user_signed_in? %>
        <ul class="main-nav">
        <li ><%= link_to "マイページ", "/users/#{current_user.id}" %>
        <li ><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"logout" %>
        <li ><%= link_to '投稿する', new_photo_path, class: "postin" %></li>
         </ul>
         <% else %>
        <ul class="sub-nav">
        <li ><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <li ><%= link_to 'ログイン', new_user_session_path, class: "sign-in" %></li>
        <li ><%= link_to 'Shougun', root_path, class: "top" %></li>

        </ul>
        <% end %>
        </nav>

  </header>

<div class="home-content wrapper">
<h2 class="page-title">shogun-authorized<br>trading book</h2>
<p>そうだ 御朱印集めに行こう</p>
</div>

   <footer>
      <p>
        Copyright Masahiko.Arimura 2022.
      </p>
    </footer>
    </div><!-- /#home -->
  