<div class="main">
  <div id="home" class="big-bg">
    <div class="home-content wrapper">
      <h2 class="page-title">shogun-authorized<br>
        trading book
        <p>そうだ 御朱印集めに行こう</p>
      </h2>
    </div>
  </div>
  <!-- /#home -->
  <div id="room" class="post">
    <div class="room-content wrapper">
      <div class="post-gest">
        <%= image_tag('一覧.png', class: "post-image") %>
      </div>
    </div>
  </div>
  <div class='wrapper grid'>
    <% @photos.each do |photo| %>
      <%= link_to photo_path(photo.id), method: :get do %>
        <div class='items'>
          <%= image_tag photo.image, class: "item-img" %><br>
          <div class="item-main">
            <%= photo.title %><br>
            by  <%= photo.nickname %>さん<br>
          <div class="item-count">
            いいねカウント<%= photo.favarites.count %> 
            </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
<%= render partial: "postin"%>
