<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @photo, local: true, class:"form") do |form| %>
      <%= form.text_field :nickname, placeholder: "Nickname" %>
      <%= form.text_field :title, placeholder: "title" %>
      <%= form.file_field :image, placeholder: "Image Url" %>

      <%= form.text_area :memo, placeholder: "memo", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>