<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @photo, local: true, class:"form-text") do |form| %>
   <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
    <%= form.label :Nickname %>
      <%= form.text_field :nickname %>
      </div>
         <div class="form-group">
      <%= form.label :Title %>
      <%= form.text_field :title %>
            </div>

          <div class="form-group">
      <%= form.label :Image %>
      <%= form.file_field :image %>
      </div>

          <div class="form-group">
    <%= form.label :Memo%>

      <%= form.text_area :memo, rows: "10" %>
          </div>
          <div class="form-group">

      <%= form.submit "SEND" %>
          </div>

    <% end %>
    </div>
  </div>
</div>